Business/Web References/wsS29/uciMethods.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ProcessingTransactionISO_WEB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iso" type="tns:Iso8583" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Iso8583">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ISO_000_Message_Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_BITMAP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_002_PAN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_003_ProcessingCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISO_004_AmountTransaction" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ISO_006_BillAmount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ISO_008_BillFeeAmount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ISO_007_TransDatetime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_011_SysAuditNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISO_012_LocalDatetime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ISO_013_LocalDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ISO_015_SettlementDatel" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_018_MerchantType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_019_AcqCountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_022_PosEntryMode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_023_CardSeq" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_024_NetworkId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISO_028_TranFeeAmount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ISO_029_SettlementFee" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ISO_030_ProcFee" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_032_ACQInsID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_033_FWDInsID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_034_PANExt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_035_Track2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_036_Track3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_037_RetrievalReferenceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_038_AutorizationNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_039_ResponseCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_039p_ResponseDetail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_041_CardAcceptorID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_042_Card_Acc_ID_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_043_CardAcceptorLoc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_044_AddRespData" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISO_049_TranCurrCode" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ISO_051_CardCurrCode" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_052_PinBlock" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_054_AditionalAmounts" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_055_EMV" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_090_OriginalData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_102_AccountID_1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_103_AccountID_2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_104_TranDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_114_ExtendedData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_115_ExtendedData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_120_ExtendedData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_121_ExtendedData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_122_ExtendedData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_123_ExtendedData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO_124_ExtendedData" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ProcessingTransactionISO_WEBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessingTransactionISO_WEBResult" type="tns:Iso8583" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessingTransactionISO_WEBSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessingTransactionISO_WEB" />
  </wsdl:message>
  <wsdl:message name="ProcessingTransactionISO_WEBSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessingTransactionISO_WEBResponse" />
  </wsdl:message>
  <wsdl:portType name="uciMethodsSoap">
    <wsdl:operation name="ProcessingTransactionISO_WEB">
      <wsdl:input message="tns:ProcessingTransactionISO_WEBSoapIn" />
      <wsdl:output message="tns:ProcessingTransactionISO_WEBSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="uciMethodsSoap" type="tns:uciMethodsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessingTransactionISO_WEB">
      <soap:operation soapAction="http://tempuri.org/ProcessingTransactionISO_WEB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="uciMethodsSoap12" type="tns:uciMethodsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessingTransactionISO_WEB">
      <soap12:operation soapAction="http://tempuri.org/ProcessingTransactionISO_WEB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="uciMethods">
    <wsdl:port name="uciMethodsSoap" binding="tns:uciMethodsSoap">
      <soap:address location="http://localhost/wsFitSwitch/uciMethods.asmx" />
    </wsdl:port>
    <wsdl:port name="uciMethodsSoap12" binding="tns:uciMethodsSoap12">
      <soap12:address location="http://localhost/wsFitSwitch/uciMethods.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>